.agh{
  display: flex;
  flex-direction: column;
}
.slider{
  overflow: hidden;
}
.figure{
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0;
  left: 0;
  width: 300%;
  max-height: 640px;
  animation: slider 20s infinite;
}

.img{
  width: 33.3333%;
  position: relative;
}
.img2{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgtext{
  position: absolute;
  top: 120px;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Julee";
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: 60px;
  color: #FFFFFF;
  text-align: center;
  color: white;
  width: 100%;

}
.butt{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 420px;
  left: 0;
  right: 0;
}
.buttp{
   border: 1px solid #0066FF ;
   border-radius: 70px;
   padding: 23px 150px;
   background: white;
   box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
   text-align: center;
   color: #0066FF;
   cursor: pointer;
}


@keyframes slider {
   0%{
     left: 0;
   }
   20%{
     left: 0;
   }
   25%{
      left: 0;
   }
   45%{
      left: -100%
   }
   50%{
     left: -100%;
   }
   70%{
     left: -100%;
   }
   75%{
     left: -200%;
   }
   95%{
     left: -200%;
   }
   /* 100%{
     left: -200%;
   } */
}
.secondmainb{
  background-image: url('/assets/bluebackground1.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 80px;
  gap: 100px;
}
.secondmainhead{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}
.fourthmainhead{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #595858;
}
.secondmainb2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 50px;
  width: 100%;
}
.fourthmainb2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 100%;
}
.iconwrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 300px;
}
.imgicon{
  width: 150px;
  height: 100px;
  border-radius: 12px;
}
.imgicon2{
  width: 120px;
  height: 110px;
  border-radius: 50%;
}
.imgicontext{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
.imgicontext2{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #595858;
}
.imgicontext2i{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #595858;
}
.thirdmainb{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 140px;
  gap: 40px;
  background: #FFFFFF;
}
.fourthmainb{
  background-image: url('/assets/ashwhitebackground.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 80px;
  gap: 100px;
}
.thirdmainhead{
  font-family: 'Julee';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #595858;
  width: 100%;
}
.thirdmaintext{
  font-family: 'Julee';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #595858;
  width: 100%;
}
.sixthmainb{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 140px;
  gap: 40px;
  background: #FFFFFF;
}
.sixthmainhead{
  width: 100%;
  font-family: 'Julee';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #595858;
}
.sixthmaintext{
  font-family: 'Julee';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

@media screen and (max-width:700px) { 
  .figure{   
    height: 440px;
  }
  .imgtext{
    top: 80px;
    font-size: 44px;
    line-height: 52px;
  }
  .butt{
    top: 330px;
    left: 0;
    right: 0;
  }
  .buttp{
    border: 1px solid #0066FF ;
    border-radius: 100px;
    padding: 15px 80px;
    font-size: 16px;
    line-height: 24px;
    
 }
 .secondmainb{
  background-image: url('/assets/bluebackground1.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 80px;
  gap: 100px;
}
.fourthmainb{
  background-image: url('/assets/ashwhitebackground.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 80px;
  gap: 100px;
}
.secondmainhead{
  width: 100%;
  font-size: 32px;
  line-height: 42px;
}
.fourthmainhead{
  width: 100%;
  font-size: 32px;
  line-height: 42px;
}
.secondmainb2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 100px;
  width: 100%;
}
.fourthmainb2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 100px;
  width: 100%;
}
.iconwrapper{
  width: 100%;
}
.thirdmainb{
  padding: 80px 20px;
}
.sixthmainb{
  padding: 80px 20px;
}
.thirdmaintext{
  font-size: 28px;
  line-height: 32px;
}


}