.ifj{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mainbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box1{
   display: flex;
   position: relative;
   width: 100%;
}
.box1img{
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}
.box1div{
    position: absolute;
    width: 100%;
    top: 200px;
    padding: 0px 20px;
}
.box1p{
    text-align: center;
    font-family: 'Julee';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
    gap: 30px;
    width: 700px;
    background: #FFFFFF;
}
.box2h{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    width: 100%;
}
.box2p{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    width: 100%;
}
.box3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0px;
    gap: 30px;
    width: 100%;
    background: #FFFFFF;
}
.box3h{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    width: 100%;
}
.box3p{
    width: 100%;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}
.box3div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 100%;
}
.box3divp{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}
.box3div2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
    width: 100%;
}
.missmainp{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #595858;
    width: 100%;
}
.missmainspan{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    width: 100%;
}


  @media screen and (max-width:700px) { 

    .box1img{
        height: 400px;
    }
    .box1div{
        position: absolute;
        width: 100%;
        top: 140px;
    }
    .box1p{
        font-size: 28px;
        line-height: 34px;
    }
    .box2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 20px;
        gap: 30px;
        width: 100%;
        background: #FFFFFF;
    }
    

  }